* {
  box-sizing: content-box;
}

body {
  margin: 5px 20px 0 20px;
  padding: 0;
}


#guitar [data-note].not-playing {
  background-color: crimson;
} 

#guitar [data-note] {
  width: min(100%, 100px);
  aspect-ratio: 1;
  
  background-color: black;
  border-left: 2px solid black;

  display: grid;
  place-content: center;
  color: white;
  font-size: 2em;
}

#guitar .notes-row {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#guitar [data-note]:hover:before {
  content: attr(data-note);
}


#options {
  position: absolute;
  bottom: 20px;
  left: 30%;
}

#options > button {
  font-size: 150%;
}